In [16]:
41
#Exo 2.1
nb1 = int(input('Entrez le premier nombre :'))
nb2 = int(input('Entrez le second nombre :'))


if nb1 > 0 and nb2 > 0 or nb1 < 0 and nb2 < 0 :
   print('Le produit de {0} et {1} est positif'.format(nb1,nb2))
else:
    print('Le produit de {0} et {1} est nÃ©gatif-'.format(nb1,nb2))

Entrez le premier nombre :2
Entrez le second nombre :5
Le produit de 2 et 5 est positif

In [18]:
#Exo 2.2
nb1 = int(input('Entrez un nombre : '))
s = int(0)

for i in range(nb1+1):
    s = s + i
    i = i + 1
    
print(s)

Entrez un nombre : 5
15

In [20]:
#Exo 2.3
tableau = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

tableauSom = sum(tableau)

print(f"Somme de la liste -> {tableauSom}")

Somme de la liste -> 55

In [15]:
#Exo 2.4
list1 = [2,4,5,3,5,4]
list2 = [4,1,2,9,7,5]
product = [x*y for x,y in zip(list1,list2)]
listSum = sum(product)

print(listSum)

104

In [9]:
#Exo 2.8
list = []
list1 = [int(item) for item in input("Entrez des nombres : ").split()]
print(sorted(list1))

Entrez des nombres : 54 21 2
[2, 21, 54]

In [13]:
#Exo 2.9
nb1 = int(input('Entrez le premier nombre :'))

if nb1 == 0:
    print(1)
else:
 F = 1
for k in range(2,nb1+1):
 F = F * k

print('La factorielle est :' ,F)

Entrez le premier nombre :5
La factorielle est : 120